
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-1"  style="display: none" )
		+b.modal-win--sm
			.h3.text-primary Хотите учавствовать в&nbsp;мероприятии?
			p Пройдите курс в личном кабинете
			a.btn.btn-primary.w-100(href="#") Перейти в личный кабинет
	// #modal-1
	
	div(id="modal-2"  style="display: none" )
		+b.modal-win--sm
			.h3.text-primary Зарегистрироваться на&nbsp;мероприятие?
			p Вы&nbsp;будете перенаправлены на&nbsp;сайт АИС Молодежь России для дальнейшей регистрации
			a.btn.btn-primary.w-100(href="#") Продолжить регистрацию
	// #modal-2
	div(id="modal-lk"  style="display: none" )
		+b.modal-win--lk
			.h3.text-primary Ваша заявка принята на рассмотрение
			p По&nbsp;готовности вам придет сообщение на&nbsp;адрес электронной почты, который вы&nbsp;указали при регистрации
			a.btn.btn-primary.w-100(href="#") Буду ждать!
	// #modal-2

	div(id="modal-feedback"  style="display: none" )
		+b.modal-win--feedback
			+form-wrap
				.h5.text-primary Есть вопросы?
				p Задайте их нашим специалистам
				+input('Введите имя', 'text', 'Ваше имя')
				+input('Введите фамилию', 'text', 'Ваша фамилия')
				+input('sample@sample.com', 'email', 'E-mail')
				+input('Вопрос', 'text', 'Ваш вопрос')
				+e.BUTTON.btn.btn.btn-primary(type="submit"  ) Задать вопрос
	// #modal-3

	
	// end modals