// start .sGal
.sGal {
	// --sPT: #{rem()};
	--sPB: #{rem(100)};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__slider{
		overflow: visible;
		z-index: 5;
	}
	&__slide{
		@include media-breakpoint-up(sm) {

			width: rem(416);
		}
		width: rem(300);
	}
	&__img-wrap{
		@include block(416,398);
		overflow: hidden;
		border-radius: 32px;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sGal