mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		.container
			+e.inner
				+e.video-wrap.bg-wrap
					+pic('head-bg.jpg','bg').picture-bg
					video(loading='lazy' preload='auto' no-controls  autoplay  loop  playsinline  muted  )
						source(src="video/video.webp" type='video/webp')
						source(src="video/video.mp4" type='video/mp4')
				h1 События
				+e.slider--js.swiper 
					.swiper-wrapper
						each slide in slides 
							+e.slide.swiper-slide(data-swiper-parallax="10%") 
								+e.item= slide
	// end headerBlock