mixin sLessonBlock(data)
	// start sLessonBlock
	+b.sLessonBlock#sLessonBlock&attributes(attributes)
		+b.sLessonBlock-head
			+e.btn(href="#").active
				+e.count Урок 1
				+e.title.d-none.d-md-block Что важно для успешного открытия мероприятия
				
			+e.btn(href="#")
				+e.count Урок 2
				+e.title.d-none.d-md-block Что важно для успешного открытия мероприятия
			+e.btn(href="#")
				+e.count Урок 3
				+e.title.d-none.d-md-block Что важно для успешного открытия мероприятия дл... 
		+b.sLessonBlock-body
			+e.video-wrap
				//- <iframe width="560" height="315" src="https://www.youtube.com/embed/6xiQWNchoeo?autoplay=1&mute=1&controls=0&loop=1&modestbranding=1&showinfo=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encryp ted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	
				//- <iframe id='lg-player' width="1224" height="410" src="//rutube.ru/play/embed/6909a783a709b487d2e4e6aeb3adc7db?quality=-2" frameborder="0" allow="clipboard-write" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
				<iframe src="https://vk.com/video_ext.php?oid=-29370157&id=456239303&hash=ce3ad05120e59891&hd=1&autoplay=1&controls=0&disablekb=1&showinfo=0?loop=1" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
		+b.sLessonBlock-footer
			+e.btn(href="#") ← 
				span.d-none.d-sm-inline Модуль 1
			+e.btn(href="#").active 
				span.d-none.d-sm-inline Следующий урок
				| →
	// end sLessonBlock