extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug 
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sForm/_sForm.pug 
include ../blocks/footer/_footer.pug
include ../blocks/sHeaderPage/_sHeaderPage.pug
include ../blocks/sInfoBlock/_sInfoBlock.pug
include ../blocks/sGal/_sGal.pug
include ../blocks/sVideoGal/_sVideoGal.pug
include ../blocks/sSchedule/_sSchedule.pug
include ../blocks/sPartners/_sPartners.pug 
include ../blocks/sBanner/_sBanner.pug 
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= '' 
	- let  bg= null

block title
	- let  title= 'внутренняя'
	title= title
block pagecontent
	+top-nav()
	+sHeaderPage
	+sInfoBlock
	+sGal
	+sVideoGal
	+sPartners
	+sBanner2
	+sSchedule
		.section-title 
			h2 Еще 
	+sContact
	
	+footer()
      



