extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
 
include ../blocks/sForm/_sForm.pug 
include ../blocks/footer/_footer.pug
include ../blocks/sCabinetHead/_sCabinetHead.pug 
include ../blocks/sContact/_sContact.pug
include ../blocks/sSchedule/_sSchedule.pug
include ../blocks/sAcc/_sAcc.pug

block variables
	- let  mainPage= '' 
	- let  bg= null

block title
	- let  title= 'Личный кабинет'
	title= title
block pagecontent
	+top-nav()
	//- +sHeaderPage
	//- +sCabinetHead
	//- .container
	//- 	+b.Ul.cabinet-nav
	//- 		li: a(href="#").active  Мои активности
	//- 		li: a(href="#")  Личная информация
	+sAcc
	+footer()
      



