extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug 
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sForm/_sForm.pug 
include ../blocks/footer/_footer.pug
include ../blocks/sOpportunities/_sOpportunities.pug
include ../blocks/sForumCompany/_sForumCompany.pug
include ../blocks/sSchedule/_sSchedule.pug
include ../blocks/sBanner/_sBanner.pug 
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page animate-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	+top-nav()

	+headerBlock

	.alert.alert-success.alert-dismissible(role='alert')
		h4.alert-heading Well done!
		p
			| Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
		hr
		p.mb-0
			| Whenever you need to, be sure to use margin utilities to keep things nice and tidy.
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	+sOpportunities
	+sForumCompany
	+sSchedule
	+sBanner
	+sContact
	
	+footer()
      



