mixin sInfoBlock(data)
	// start sInfoBlock
	+b.sInfoBlock.section#sInfoBlock&attributes(attributes)
		.container
			.row
				+e.col.col
					p Это акселерационная платформа для молодых управленцев и молодёжных команд по разработке и реализации туристского потенциала территорий Сибирского федерального округа.
					ul
						li специалистов сферы туриндустрии
						li экскурсоводов
						li молодых предпринимателей в сфере туризма
						li авторов туристических маршрутов
						li тревел-блогеров
						li представителей региональных органов исполнительной власти в сфере туризма

					p Участники займутся внедрением современных технологий и решением задач социально-экономического развития округа.
					p Участники займутся внедрением современных технологий и решением задач социально-экономического развития округа.
					p Участники займутся внедрением современных технологий и решением задач социально-экономического развития округа.
				.col-lg-4
					+e.panel
						+e.logo-block
							+e.logo-wrap
								img(src="img/logo-event.png", alt="")
						+e.group
							.small.text-secondary Форум состоится:
							.h6 29 мая – 3 июня 2022 года
						+e.group
							.small.text-secondary Сроки заявочной кампании:
							.h6 22 марта – 29 апреля 2022 года
						+e.group
							.small.text-secondary Регион проведения:
							.h6 Алтайский край
						+e.group
							.small.text-secondary Событие в соц.сетях
							+soc()
						+e.show(href="#" data-fancybox="gallery" data-src="https://vk.com/video_ext.php?oid=-63758929&id=456241068&hash=7eaebe1855265c5c&hd=2&autoplay=1" data-thumb="https://lipsum.app/id/32/200x150" data-type='iframe')
							svg(width='28' height='17' viewBox='0 0 28 17' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M27.5197 8.5C27.5197 9.98525 21.5153 16.5 14.1085 16.5C6.70167 16.5 0.697266 10.5067 0.697266 8.5C0.697266 6.49329 6.70167 0.5 14.1085 0.5C21.5153 0.5 27.5197 7.01475 27.5197 8.5Z' fill='#8C64D8')
								circle(cx='14.1086' cy='8.50005' r='5.27703' fill='white')
							span Просмотреть деловую программу
						+e.show-gallery.d-none
							a(data-fancybox="gallery" href="img/programm.png")
								img(src="img/programm.png", alt="")
							a(data-fancybox="gallery" href="img/programm.png")
								img(src="img/programm.png", alt="")
							a(data-fancybox="gallery" href="img/programm.png")
								img(src="img/programm.png", alt="")



	// end sInfoBlock