mixin sTestBlock(data)
	// start sTestBlock
	+b.SECTION.sTestBlock.section#sTestBlock&attributes(attributes)
		.container
			.h24.mb-2 1 / 50
			.row
				.col-lg-7
					.h24.mb-2 Я плохо выношу неопределенные ситуации
					+e.inner
						.mb-5 
							mixin btn(t)
								+b.LABEL.btn-input
									= t
									input(type="radio")
							+btn(`полностью согласен`)
							+btn(`согласен`)
							+btn(`скорее согласен, чем не согласен`)
							+btn(`нейтрален`)
							+btn(`скорее не согласен, чем согласен`) 
							+btn(`нейтрален`)
							+btn(`скорее не согласен, чем согласен`) 
						+b.sLessonBlock-footer
							+e.btn(href="#") ← 
								span.d-none.d-sm-inline   Предыдущий
							+e.btn(href="#").active 
								span.d-none.d-sm-inline Следующий 
								| →
				.col-lg
					.h24.mb-2 Устойчивость к неопределённости и умение ориентироваться в непредсказуемой̆ реальности
					
					p.small.text-secondary Устойчивость к неопределённости – это необходимая компетенция для любой успешной деятельности в современном и непредсказуемом мире. 

					p.small.text-secondary  Устойчивость к неопределенности и умение ориентироваться в непредсказуемой реальности проявляется в способности действовать в ситуации дефицита информации, быстро фиксировать и реагировать на изменения, перестраиваться и оперативно адаптировать свои планы, проекты и программы
	// end sTestBlock