mixin sSchedule(data)
	// start sSchedule
	+b.sSchedule.section#sSchedule&attributes(attributes)
		.container
			block
			.tabs
				.tabs__caption
					.tabs__btn.active Всеросийсские
					.tabs__btn Окружные
					.tabs__btn Профильные
				.tabs__wrap
					mixin tab()
						.tabs__content&attributes(attributes)
							+e.row.row
								mixin item(t, p)
									+e.col.col-xl-4.col-md-6
										+e.item
											+e.video-wrap
												<iframe src="https://vk.com/video_ext.php?oid=-29370157&id=456239303&hash=ce3ad05120e59891&&controls=0&disablekb=1&showinfo=0?loop=1" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
											//- +e.date 2016 — 2022
											+e.title= t
											+e.place= p
											+e.btn-wrap
												+e.btn(href="#")  Подробнее
								+item(`Таврида`,`Республика Крым`)
								+item(`Евразия Global`,`Оренбургская область`)
								+item(`ШУМ`,`Калининградская область`)
								+item(`Территория смыслов`,`Московская область`)
								+item(`Бирюса`,`Красноярский край`)
								+item(`ОстроVa`,`Сахалинская область`)
								+item(`Машук-2022`,`Ставропольский край`)
					+tab().active
					+tab()
					+tab()
	// end sSchedule
mixin sScheduleCabinet(data)
	// start sSchedule
	+b.sScheduleCabinet.section#sSchedule&attributes(attributes)
		.container
			block
			+e.row.row
				mixin item(t, p, btn='Пройти курс')
					+e.col.col-xl-4.col-md-6
						+e.item
							+e.video-wrap
								<iframe src="https://vk.com/video_ext.php?oid=-29370157&id=456239303&hash=ce3ad05120e59891&&controls=0&disablekb=1&showinfo=0?loop=1" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
							.row
								.col
									+e.date 2016 — 2022
								.col-auto.text-info  курс  пройден

							+e.title= t
							+e.place= p
							+e.btn-wrap 
								+e.btn(href="#")&attributes(attributes)= btn
				+item(`Таврида`,`Республика Крым`)
				+item(`Евразия Global`,`Оренбургская область`)
				+item(`ШУМ`,`Калининградская область`)
				+item(`Территория смыслов`,`Московская область`)
				+item(`Бирюса`,`Красноярский край`)
				+item(`ОстроVa`,`Сахалинская область`)
				+item(`Машук-2022`,`Ставропольский край`,'Вы зарегистрированы ').disabled
	// end sSchedule