mixin sCards(data)
	// start sCards
	+b.sCards.section#sCards&attributes(attributes)
		.container
			+e.row.row
				mixin card()
					+e.col.col-xl-4.col-md-6
						+b.card
							block
				+card()
					h4 Наставничество
					p Получай обратную связь и поддержку от экспертов разных отраслей
					
					h4 Развитие
					p Получи уникальные знания, доступные только на форуме от выдающихся личностей страны
				+card()
					h4 Сообщество
					p Найди новых друзей и единомышленников со всей России
					
					h4 Карьера
					p Пройди стажировку в ведущих российских компаниях, найди работу мечты и новые карьерные возможности
				+card()
					h4 Гранты
					p Получи финансовую поддержку на реализацию своих проектов
					
					h4 Путешествия
					p Вдохновляйся многообразием мест и культур самой большой страны мира, путешествуй по России с пользой и вноси позитивные изменения

	// end sCards