mixin sBanner(data)
	// start sBanner
	+b.SECTION.sBanner.section#sBanner&attributes(attributes)
		.container
			+e.inner
				h2 Совершенствуйся  вместе с&nbsp;нами
				p Хочешь узнать что-то новое о&nbsp;себе и&nbsp;поставить цели на&nbsp;ближайшее время?
				+e.btn(href="#") Пройти квест
				+pic('banner-img.png')
				
	// end sBanner
mixin sBanner2(data)
	// start sBanner
	+b.SECTION.sBanner-page.section#sBanner&attributes(attributes)
		.container
			+e.stroke-title Алтай.  <br> Территория развития
			+e.inner
				.row
					.col
						h2 Прими  участие  в&nbsp;событии!
					.col-md-auto
						+e.reg-block
							a.btn.btn-primary.disabled(href="#") Регистрация недоступна
							p.disabled Регистрация скоро будет доступна
				+pic('banner-img2.png')
				
	// end sBanner