// start .sBanner
.sBanner {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__inner{
		background-color: $primary;
		border-radius: 40px;
		color: #fff;
		@include media-breakpoint-up(xxl) {
		padding: rem(73) rem(80);
	}
	@include media-breakpoint-up(lg){

		padding: rem(53) rem(60);
	}
	padding: rem(33) rem(20) 0;
		position: relative;
		background-image: url(../img/svg/fig.svg);
		background-color: #8C64D8;
		background-repeat: no-repeat;
		@include media-breakpoint-up(lg){

			background-position: calc(100% + 30px) calc(50%);
		}
		background-position: calc(100% + 30px) calc(120%);
		@include media-breakpoint-up(xl) {
			background-size: 663px 873px;
		}
		@include media-breakpoint-up(sm) {

			background-size: 463px 673px;
		}
		background-size: 263px 373px;
		z-index: 2;
	}
	h2{
		@include media-breakpoint-up(xxl) {
			font-size: 80px;
		}
		
		@include media-breakpoint-up(xl) {
			font-size: 70px;
			max-width: rem(703);
		}
		@include media-breakpoint-up(sm) {
			font-size: 60px;
		}	
		max-width: rem(603);

		@include rfs(50px);
		line-height: calc( 77 / 80);
		margin-bottom: rem(30);
	}
	p{
		@include rfs(30px);
		line-height: calc( 34 / 30);
		margin-bottom: rem(50);
		@include media-breakpoint-up(xl) {

			max-width: rem(630);
		}
		max-width: rem(480);
	}
	&__btn{
		padding-top: rem(12);
		padding-bottom: rem(12);
		color: $primary;
		@extend .btn, .btn-warning;
	}
	picture{
		text-align: center;
	}
	img{
		margin-top: 1rem;
		@include media-breakpoint-up(lg) {
			margin-top: 0;
			z-index: -1;
			position: absolute;
			bottom: 0;
			right: rem(40);
			max-height: 115%;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBanner
// start .sBanner
.sBanner-page {
	position: relative;
	z-index: 2;
	&::before{
		content: '';
		position: absolute;
		@include media-breakpoint-up(xl){
			--size: 1000px
		}
		--size: 500px;
		width: var(--size);
		height: var(--size); 
		background: #8C64D8;
		opacity: 0.2;
		border-radius: 50%;
		filter: blur(40px); 
		z-index: -1;
		right: calc(-1 * var(--size) / 2);
		// top: 0;
		bottom: 0;
	}
	@include media-breakpoint-up(sm) {

		&::after{
			content: url(../img/svg/fig2.svg);
			position: absolute;
			right: -60px;
		// bottom: 0;
		top: -160px;
		z-index: -1;
		pointer-events: none;
	}
}
	&__stroke-title{ 
		max-width: rem(1100);
		position: relative;
		z-index: 2;
		margin-bottom: -.2em;
			@include media-breakpoint-up(xl) {
				font-size: rem(106);
			}
			color: transparent;
			-webkit-text-stroke: 1px $primary;
			text-stroke: 1px $primary;
			line-height: calc(88 / 106); 
	
			position: relative;
			z-index: 4;
			font-weight: 500;
			// pointer-events: none; 
			
			@include media-breakpoint-up(lg){ 
				margin-left: .75em;
				font-size: rem(86);
			}
			font-size: rem(56); 
	}
	&__inner{
		background-color: $warning;
		border-radius: 32px;
		@include media-breakpoint-up(xl) {
			padding: rem(85) rem(90);
		}
		
		@include media-breakpoint-up(lg) {
			padding: rem(75) rem(20);
		}
		padding: rem(35) rem(20) 0;

		// padding: rem(45) rem(30);
		position: relative;
		picture{
			text-align: center;
		}
		img{
			@include media-breakpoint-up(lg) {

				position: absolute;
				@include a-cent1(x);
				bottom: 0;
			}
			position: relative;
				z-index: 4;
		}
		h2{
			color: $primary;
			@include rfs(65px);
			line-height: 1;
			@include media-breakpoint-up(md) {
				margin-bottom: 1rem;
				max-width: rem(400);
			}
			margin-bottom: 2rem;
		}
		.row{
			align-items: flex-end;
		}
	}
	&__reg-block{
		text-align: center;
		p.disabled{
			opacity: 0.5;
		}

		.btn{
			margin-bottom: 15px;
			&.disabled{
				opacity: 0.2;
			}
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(md) {
		&__inner{

			text-align: center;
		}
	}
} // end.sBanner