mixin sBanner(data)
	// start sBanner
	+b.SECTION.sBanner.section#sBanner&attributes(attributes)
		.container
			+e.inner
				h2 Совершенствуйся  вместе с&nbsp;нами
				p Хочешь узнать что-то новое о&nbsp;себе и&nbsp;поставить цели на&nbsp;ближайшее время?
				+e.btn(href="#") Пройти квест
				+pic('banner-img.png')
				
	// end sBanner