mixin sBaseBanner(data)
	// start sBanner
	+b.SECTION.sBanner.section#sBanner&attributes(attributes)
		.container
			+e.inner
				h2 Хочешь  в&nbsp;команду?
				p Жми на&nbsp;кнопку и&nbsp;узнай подробности
				+e.link(href="#") Вакансии
				+pic('banner-img3.png')
	// end sBanner