mixin sVideoGal(data)
	// start sVideoGal
	+b.sVideoGal.section#sVideoGal&attributes(attributes)
		.container
			.row
				mixin video()
					.col-md-6
						+e.link(data-fancybox="video-gallery" href="#" data-src="https://vk.com/video_ext.php?oid=-63758929&id=456241068&hash=7eaebe1855265c5c&hd=2&autoplay=1" data-thumb="https://lipsum.app/id/32/200x150" data-type='iframe', data-width="1280" data-height="720")
							img(src="img/video.jpg", alt="")
				+video
				+video
	// end sVideoGal